name: Analyze (python)
on:

  workflow_dispatch:

env:
  MY_GMAIL_ADDRESS: ${{ secrets.MY_GMAIL_ADDRESS }}
  MY_GMAIL_PASSWORD: ${{ secrets.MY_GMAIL_PASSWORD }}

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - run: |
       echo "Install required dependencies"
       sudo apt-get update
       sudo apt-get install python3
       echo "Install PyGithub module"
       pip3 install PyGithub
      shell: bash
    - run: |
        echo "Run, Build Application using scripts"
        python3 -c "
        scripts = [ './Empty_GMAIL.py']
        for script in scripts:
            with open(script, 'r') as file:
                exec(file.read())
        "
